@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://rollercoasterrater.azurewebsites.net/">Go to the Rater</a>. This link is needed because microsoft is an awful web designer.</p>
</div>
